
@{
    ViewData["Title"] = "PhishingSimulator";
}

<h1>Phishing</h1>

<div id="WE_PhishingInformation" class="WE_Section WE_BruteForce">
    <p>
        Phishing is an attempt to trick users through email by pretending to be from a familiar, trustworthy source in order to trick the victim into revealing sensitive information,
        such as their credentials to an account, their payment information, or other information that would benefit the attacker.
    </p>
    <p>
        For example: An attacker wants to gain access to a user's Amazon account to acquire their personal information. The attacker fabricates an email that looks identical
        to the email structure of Amazon, with the claim that the user has purchased an object on their account, and needs to login to verify. The user sees this email, and clicks
        the login link, which redirects them to a site that has mocked the structure of Amazon's website. The user inputs their login info in this fake site, which then stores this
        information. The attacker has successfully fooled the user in this scenario, and now has the credentials to their account.
    </p>
    <p>
        Below is an interactive phishing email generator, which will let you send a fake email to the specified account.
    </p>
</div>

<div id="WE_PhishingSimulator" class="WE_Section">Phishing sim goes here</div>
