@{
    ViewData["Title"] = "PhishingSimulator";
}

<h1>Knowing is half the battle</h1>

<div id="WE_PhishingInformation" class="WE_Section WE_BruteForce">
    <p>
        Something important about phishing
    </p>
    <p>
        When you are ready, please press the button to begin the game.
    </p>
</div>

<div id="WE_PhishingSimulator" class="WE_Section">
    <a class="nav-link navLink" asp-area="" asp-controller="Interactive" asp-action="SpotGame">Play Game</a>
</div>
