@{
    ViewData["Title"] = "PhishingSimulator Level 2";
}

<script>
    $(document).ready(function () {

        $("ul#tree li ul").addClass("choices-collapsed");

        $("#tree li input").click(function (event) {
            $(event.target).parent().addClass("choice-selected");
            $(event.target).nextAll().removeClass("choices-collapsed");
            $(event.target).parent().nextAll().addClass("choices-collapsed");
            $(event.target).parent().prevAll().addClass("choices-collapsed");
        });
        $("#goBack").click(function (event) {
            $('li.choice-selected:last').children("ul").addClass("choices-collapsed");
            $('li.choice-selected:last').nextAll().removeClass("choices-collapsed");
            $('li.choice-selected:last').prevAll().removeClass("choices-collapsed");
            $('li.choice-selected:last').removeClass("choice-selected").children("input").prop("checked", false);
        });
        $("#reset").click(function (event) {
            $('#tree li').removeClass("choices-collapsed");
            $('#tree li').removeClass("choice-selected");
            $('#tree input').prop("checked", false);
            $("ul#tree li ul").addClass("choices-collapsed");
        });
    });
</script>

<h1>Phishing</h1>

<div id="WE_PhishingInformation" class="WE_Section WE_BruteForce">
    <p>
        Welcome to Level 2 of Phishing!

        On level 1 you learned what details on an email that will help you determin the legitimacy of the contents.
        Level 2 is different, you will be giving a scenario in which you will be able to deceide your responses.
    </p>
    <p>
        In this scenario you're an employee of a small company, named NuSun, that houses 20 employees. You are one of the 4 Human Resource specilist within NuSun.
        The other Three HR specilist are named Amy Douglas, Matt Ryan, and Ken Madden. The HR department always goes to lunch from 12pm to 1pm durning the week.
    </p>
    <p>
        Senario:

        At around 9am on a Tuesday, the HR department is notified that Matt won't be able to make it in due to being exposed to Covid 19. Ten minutes before your lunch break you recieve an email from Matt.
        In this email Matt is requestion some information on an employee named Scott Robbert.
    </p>
    <p>
        Below is the email Matt sent to you, but I must warn you that to move on to the next level you must choose the correct course of action.
    </p>



</div>
<div id="tree-container">
    <div id="q-container">
        <ul id="tree">
            <li>
                From:Matt.Ryan@NuSun.com
                <br />
                To: user first name.lastname@NuSun.com
                <br />

                User First name,
                <br />
                <br />
                I have messed up big time. I forgot that I need to give the Finance department Scott Robberts information so they can start his payroll.
                <br />
                I don't have time to follow the procedures. If you help me with this I will make it up to you in the future.
            </li>
            <li>
                <input name="lvl1" type="radio" value="on"> Replay back saying:
                <br />
                Matt,
                <br />
                I hope you are feeling better. Unfortunately I will not be able to obtain this information for you. We have procedures in place to protect our employees information.
                <ul>
                    <li>
                        From:Matt.Ryan@NuSun.com
                        <br />To: user first name.lastname@NuSun.com
                        <br />

                        User First name,
                        <br />
                        <br />
                        I really need to get this information turned in before the Finance team goes to lunch. This is very important and I know that I dropped the ball on this.
                        <br />
                        If I don't get this information over I will lose my job. You don't want me to lose my job over this mistake, do you?
                    </li>
                    <li>
                        <input name="lvl2" type="radio" value="on"> Matt,
                        <br />
                        This behavior is not common coming from you. I will be reporting this incident to managemnt. I will not be helpiing you.
                        <ul>

                            <div>
                                Congrats! you didn't fall for the phishing attempt in this scnario. You will be able to move on to the next level.
                            </div>

                            <div>
                                <a class="nav-link navLink" asp-area="" asp-controller="WatchfulEye" asp-action="PhishingSimulatorP3">Continue to Level 3</a>
                            </div>
                        </ul>

                    </li>
                    <!--This is the Code for the second button -->
                    <li>
                        <input name="lvl2" type="radio" value="on"> Matt,
                        <br />
                        I do not want anyone to lose their job. I will be more than happy to help. I have attached the information you are seeking below. If there's anything else that needs to be done please let me know.
                        <ul>
                            <div>
                                You have given away senstive information to a scammer. Please hit the reset button to restart the scenario.
                            </div>
                        </ul>
                    </li>
                </ul>
            </li>

            <!--Second button to the first question -->
            <li>
                <input name="lvl1" type="radio" value="on"> Replay back saying:
                <br />
                Matt,
                <br />
                I hope you are feeling better. I will gladly help you with this, I just need to know what information the Finance team is requestion.
                <ul>
                    <li>
                        From:Matt.Ryan@NuSun.com
                        <br />To: user first name.lastname@NuSun.com
                        <br />

                        User First name,
                        <br />
                        <br />
                        I really appreciate that you are willing to help me in this dire situation. You are the hero of the day. I will be able to keep my job now lol.
                        <br />
                        I will list the information that the Finance team is requesting. You can just email me the information when you get it. Once again you have saved me from this disaster.
                        <br />
                        Social Security number, Home of Record, Banking information, and Date of Birth
                    </li>
                    <li>
                        <input name="lvl2" type="radio" value="on"> Matt,
                        <br />
                        I am happy to be the hero in this disaster.  I have attached the information you are seeking below. If there's anything else that needs to be done please let me know.
                        <ul>
                            <div>
                                You have given away senstive information to a scammer. Please hit the reset button to restart the scenario.
                            </div>
                        </ul>
                    </li>


                    <li>
                        <input name="lvl2" type="radio" value="on"> Matt,
                        <br />
                        I do not want anyone to lose their job, but I won't be able to send you this information. I will have to deliver this on your behalf to make sure they receive the information and it's secure.
                        <ul>
                            <div>
                                Congrats! you didn't fall for the phishing attempt in this scnario. You will be able to move on to the next level.

                            </div>
                            <div>
                                <a class="nav-link navLink" asp-area="" asp-controller="WatchfulEye" asp-action="PhishingSimulatorP3">Continue to Level 3</a>
                            </div>

                    </li>
                </ul>
            </li>

        </ul>
    </div>
     <button id="reset" class="treeControls">Reset</button>
</div>

<!--a class="nav-link navLink" asp-area="" asp-controller="WatchfulEye" asp-action="PhishingSimulatorP3">Continue to Level 3</!--a>
