@using WatchfulEye.ViewModels;
@model SimulatorLevelViewModel

@{
    ViewData["Title"] = "Simulator";
    var content = Model.simulatorLevelContent;
    var level = Model.simulatorLevel;
}

<script src="~/js/simulator.js"></script>

<h1 id="lvlName">@content.LevelTitle</h1>

<div id="lvlDesc" class="WE_Section WE_BruteForce">
    <p>@content.LevelDescription</p>
</div>

<div id="lvlInteractive" class="WE_Section WE_BruteForce">
    @Html.Raw(content.RenderLevel())
</div>

<div class="WE_Section">
    <a class="nav-link navLink" id="completionButton" href="javascript:callCheck();"> Complete </a>
</div>



<script>

    var data = @Html.Raw(Json.Serialize(Model));
    console.log(data);

    $(window).on('load', function () {
        gameSetup(data);
    });

    function callCheck()    {
        checkForCompletion(data);
    }
</script>



