@using WatchfulEye.ViewModels;
@model SimulatorLevelViewModel

@{
    ViewData["Title"] = "Simulator";
    var content = Model.simulatorLevelContent;
    var level = Model.simulatorLevel;
}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="~/js/brute.js"></script>
<script src="~/js/ciphers.js"></script>
<script src="~/js/simulator.js"></script>

<h1 id="lvlName">@content.LevelTitle</h1>

<div id="errorBox" style="display: none;"><h1>Error!</h1><p></p></div>

<div id="lvlDesc" class="WE_BruteForce">
    <p>@content.LevelDescription</p>
</div>

<div id="lvlInteractive" class="WE_Section WE_BruteForce">
    @Html.Raw(content.RenderLevel())
</div>

<a style="float:left; background-color: gray; border: 1px solid gray;" class="WE_NextLevel nav-link navLink" id="completionButton" asp-area="" asp-controller="WatchfulEye" asp-action="SkipLevel">Skip Level <i class='fas fa-angle-right'></i></a>
<a class="WE_NextLevel nav-link navLink" id="completionButton" href="javascript:callCheck();">Next Level <i class='fas fa-angle-right'></i></a>



<script>

    var data = @Html.Raw(Json.Serialize(Model));
    console.log(data);

    $(window).on('load', function () {
        gameSetup(data);
    });

    function callCheck()    {
        checkForCompletion(data);
    }

</script>



