@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="WE_Section">
<!-- Content here-->

<form asp-controller="WatchfulEye" asp-action="CheckAnswers">
    <div id="quiz_body">
        <p>Question 1</p>
        <input type="radio" id="a1" name="age" value="A">
        <label for="age1">Answer 1</label><br>
        <input type="radio" id="a2" name="age" value="B">
        <label for="age2">Answer 2</label><br>
        <input type="radio" id="a3" name="age" value="C">
        <label for="age3">Answer 3</label><br>
        <input type="radio" id="a4" name="age" value="D">
        <label for="age3">Answer 4</label><br><br>
        <input type="submit" value="Submit">
    </div>
</form>


</div>