
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<div id="WE_Contact" class="WE_Section">
    For general questions:

    For site issues: Please send an email to <a href="mailto:barrbm@mail.uc.edu">barrbm@mail.uc.edu</a> with the issue.
</div>

