@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 text-center">Welcome to WatchfulEye</h1>

<div class="WE_Container">
    
    <div id="WE_CyberNews" class="WE_Section">
        <p>
            WatchfulEye is a website dedicated to helping individuals practice proper security measures on the internet. Attackers are everywhere on the internet, and it 
            is inevitable that your information will be targeted in a cyberattack. In this situation, it is important to minimize the risk of this attack successfully 
            collecting information that you would rather keep out of the hands of malicious use.
        </p>
    </div>

</div>
