
@{
    ViewData["Title"] = "Settings";
}

@using WatchfulEye.ViewModels
@model EditLoginViewModel

<script>
    function pwSettingsClicked()    {
        document.getElementById('WE_passwordFields').classList.remove("visually-hidden");
        document.getElementById('pwSettingsButton').classList.add("visually-hidden");
    }
</script>

<h1>Account Settings</h1>

<form id="WE_AccountLoggedInSettingsForm" class="WE_Form" asp-action="Settings">
    <div id="WE_AccountFields" class="WE_Section">

        @if (TempData["Error"] != null)
        {
        <div class="col-md-12 alert alert-danger">
            <span>@Html.Raw(TempData["Error"])</span>

        </div>
        }

        <div class="WE_FormField">
            <label asp-for="Username" class=""></label>
            <input asp-for="Username" class="" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="WE_FormField">
            <button id="pwSettingsButton" type="button" onclick="pwSettingsClicked()">Password Settings</button>
        </div>

        <div id="WE_passwordFields" class="visually-hidden">
            <div class="WE_FormField">
                <label asp-for="Password" class=""></label>
                <input asp-for="Password" class="" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="WE_FormField">
                <label asp-for="NewPassword" class=""></label>
                <input asp-for="NewPassword" class="" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>

        <input class="btn btn-outline-success float-right" type="submit" value="Change Account Details" />
    </div>
</form>

<!--<div class="WE_Section">
    <h2>Account Deletion</h2>

    <p>If you would like to delete your account, you can do it here. Your information and progrss will be deleted, and you won't be able to login again.</p>
    <a class="nav-link navLink deactivate" asp-area="" asp-controller="Account" asp-action="Deactivate">Log Out</a>
</div>-->