html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0D0221;
    min-height: 100%
}

.mainContent {
    min-height: 850px;
    color: white;
}

.navContent {
    /*background-color: #0F084B;*/
    background-color: #26408B;
    color: white;
}

.navContent2 {
    /*background-color: #0F084B;*/
    background-color: #192a5c;
    color: white;
}

.navLink    {
    color:white
}

.navLink:hover {
    color: #A6CFD5
}

.footerContent {
    background-color: #26408B;
}

#WE_Nav {
    float:left;
    background: aliceblue;
}

#WE_NavigationList  {
    list-style-type: none;
}

.WE_Section {
    background: white;
    color: black;
    padding: 10px;
    margin-top: 25px;
}

.WE_Form .WE_Section{
    display: flex;
    flex-direction: column
}

.WE_Form div#WE_passwordFields {
    display: flex;
    flex-direction: column
}
.WE_Form p  {
    width: 20%;
    float: left;
}

.WE_Form .WE_FormField {
    padding-top: 10px;
    border-top: 2px solid #808080;
}

.WE_Form .WE_FormField:first-child {
    padding-top:0;
    border-top: none;
}

.WE_Form input {
    float: right;
    width: 75%;
}

.WE_Section a   {
    color: black;
}

.WE_Section a:hover {
    color: #26408B;
}

/* Tree Input */

div#tree-container {
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
}

ul#tree, #tree ul {
    list-style-type: none;
}

ul#tree {
    margin: 0;
    padding: 0;
}

#tree li {
    padding-top: 20px;
}

    #tree li:first-child {
        padding-left: 15px;
        font-weight: bold;
    }

ul#tree li:last-child {
    padding-bottom: 20px
}

#tree input {
    margin-right: 8px;
    margin-left: 20px;
}

/* hides lists */
.choices-collapsed {
    display: none;
}

/* styles selected choices */
ul#tree li.choice-selected {
    font-style: italic;
    background: #0D0221;
    padding-bottom: 0px;
}

/* styles subquestion of selected choice */
.choice-selected ul {
    background: #0D0221;
    font-style: normal;
    margin-top: 20px;
    padding-top: 10px;
}

    .choice-selected ul li {
        background: #0D0221;
        margin-left: -40px;
    }

/* styles answers at termination of branch */
#tree li.answer {
    border: 2px solid black;
    padding: 20px;
    background: #fff;
    font-weight: normal;
}

li.answer > ul.choices-collapsed {
    display: block;
    list-style-type: disc !important;
    background: none;
    margin-top: auto;
    padding-top: 0;
}

li.answer li:first-child {
    padding-left: 0 !important;
    font-weight: normal !important;
}

li.answer li {
    padding-top: 10px !important;
    margin-left: 0;
}

    li.answer li:last-child {
        padding-bottom: 10px !important;
    }

/* styles back and reset buttons */
.treeControls {
    margin-top: 20px;
}

/* used for optional seeinfo popups */
a.seeinfo {
    background: url('/images/group1/shared/SupportIcons/question-mark.png') center center/15px 15px no-repeat;
}

a.seeinfo {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 15px;
    padding-left: 20px;
}

div.moreinfo {
    display: none;
}

a.seeinfo:hover + div.moreinfo {
    display: inline-block;
    position: absolute;
    width: 300px;
    font-size: .9em;
    font-weight: normal;
    background-color: #efefef;
    padding: 20px;
    z-index: 100;
    box-shadow: 5px 5px 8px #555;
    border-radius: 10px;
    border: 1px solid #bbb;
}