html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0D0221;
    min-height: 100%
}

.mainContent {
    min-height: 850px;
    color: white;
}

.navContent {
    /*background-color: #0F084B;*/
    background-color: #26408B;
    color: white;
}

.navContent2 {
    /*background-color: #0F084B;*/
    background-color: #192a5c;
    color: white;
}

.navLink    {
    color:white
}

.navLink:hover {
    color: #A6CFD5
}

.footerContent {
    background-color: #26408B;
}

#WE_Nav {
    float:left;
    background: aliceblue;
}

#WE_NavigationList  {
    list-style-type: none;
}

.WE_Section {
    background: white;
    color: black;
    padding: 10px;
    margin-top: 25px;
}

.WE_Form .WE_Section{
    display: flex;
    flex-direction: column
}

.WE_Form div#WE_passwordFields {
    display: flex;
    flex-direction: column
}
.WE_Form p  {
    width: 20%;
    float: left;
}

.WE_Form .WE_FormField {
    padding-top: 10px;
    border-top: 2px solid #808080;
}

.WE_Form .WE_FormField:first-child {
    padding-top:0;
    border-top: none;
}

.WE_Form input {
    float: right;
    width: 75%;
}